# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
*.env

# PyInstaller / Build artifacts
build/
dist/
*.spec

# IDE / OS
.idea/
.vscode/
.DS_Store

# Test / coverage artifacts
.coverage
.pytest_cache/
htmlcov/
.deepeval-cache.json
.deepeval_telemetry.txt
